@import url("https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Maven+Pro:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@font-face {
  font-family: "Brasilero";
  font-weight: 400;
  src: url(..assets/font/Brasilero2018Free.otf);
}
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
  text-decoration: none !important;
  list-style: none;
}

p, span, ul, li, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

button {
  background: none;
  outline: none;
  border: none;
}

.hide {
  opacity: 0 !important;
  display: none !important;
  -webkit-user-select: none !important;
     -moz-user-select: none !important;
          user-select: none !important;
}

.modal-backdrop {
  opacity: 0.7 !important;
}

.modal {
  --bs-modal-width: auto;
  --bs-modal-padding: none;
  --bs-modal-margin: none;
  --bs-modal-color: $Branco;
}
.modal .modal-dialog .modal-content {
  border: none;
}

::-webkit-scrollbar {
  width: 0.5vw;
  background: #7EAA00;
}

::-webkit-scrollbar-thumb {
  background: #20450D;
  border-radius: 10vw;
}

html {
  cursor: url("../assets/cursor.svg"), auto;
}
html a:hover, html button:hover {
  cursor: url("../assets/cursor.svg"), auto;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 99.6vw;
  min-height: 10vh;
  height: auto;
  overflow-x: hidden;
  position: relative;
  background-color: #E9DECD;
}
body header {
  width: 100%;
  height: 100px;
  position: fixed;
  left: 0;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
}
body header #logo {
  height: auto;
  width: 11%;
  display: flex;
  margin-right: auto;
  margin-left: 4vw;
}
body header #logo img, body header #logo svg {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
body header #logo img :first-child, body header #logo svg :first-child {
  fill: #20450D;
}
body header #logo img :nth-child(2), body header #logo svg :nth-child(2) {
  fill: #EFA229;
  stroke: #EFA229;
}
body header #OpenMenu {
  width: 6vh;
  height: 6vh;
  margin-left: auto;
  margin-right: 4vw;
  position: relative;
}
body header #OpenMenu::before, body header #OpenMenu::after {
  position: absolute;
  content: "";
  top: 30%;
  left: 12.5%;
  width: 75%;
  height: 15%;
  background-color: #20450D;
  border-radius: 10vw;
}
body header #OpenMenu::after {
  top: 55%;
}
body header #sideMenu {
  background-color: #20450D;
  width: 100vw;
  height: 100%;
  position: absolute;
  right: -100vw;
  transition: right 0.5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: end;
}
body header #sideMenu a {
  font-family: "Chelsea Market", serif;
  font-size: 1.2vw;
  color: #E9DECD;
  margin: 0 1vw;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
}
body header #sideMenu a:hover {
  color: #EFA229;
  transform: scale(1.05);
}
body header #sideMenu #CloseMenu {
  width: 5vh;
  height: 5vh;
  position: relative;
  margin-right: 3vw;
  margin-left: 1vw;
  transition: all 0.25s ease-in-out;
}
body header #sideMenu #CloseMenu::before, body header #sideMenu #CloseMenu::after {
  position: absolute;
  content: "";
  top: 40%;
  left: 15%;
  width: 75%;
  height: 22.5%;
  background-color: #EFA229;
  border-radius: 10vw;
  transform: rotate(-45deg);
}
body header #sideMenu #CloseMenu::after {
  transform: rotate(45deg);
}
body header #sideMenu #CloseMenu:hover {
  transform: scale(1.05);
}
body main {
  width: 100vw;
  min-height: 100vh;
  height: auto;
  position: absolute;
  left: 0;
}
body main section {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  min-height: 100vh;
  height: auto;
  font-family: "Caveat", serif;
  color: #E9DECD;
}
body main #banner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 92.5%;
  height: 100vh;
}
body main #banner #infos {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
body main #banner #infos #BannerTitle {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 25vh;
}
body main #banner #infos #BannerTitle h1 {
  width: 100%;
  height: auto;
  color: #20450D;
  font-family: "Chelsea Market", serif;
  font-size: 9vw;
  margin-left: 4vw;
}
body main #banner #infos #BannerTitle img, body main #banner #infos #BannerTitle svg {
  position: absolute;
  transform: translateY(20px);
}
body main #banner #infos #BannerTitle #BigStar {
  left: 10vw;
  width: 4vw;
  height: 4vw;
}
body main #banner #infos #BannerTitle #Smile {
  left: 27.25vw;
  width: 3.25vw;
  height: 3.25vw;
}
body main #banner #infos #BannerTitle #SmallStar {
  left: 37.5vw;
  width: 4.5vw;
  height: 4.5vw;
}
body main #banner #infos #BannerSubtitle {
  position: relative;
  display: flex;
  align-items: center;
  transform: translateY(-15px);
}
body main #banner #infos #BannerSubtitle h2 {
  color: #20450D;
  font-family: "Chelsea Market", serif;
  font-size: 2.1vw;
  padding-left: 1.25vw;
}
body main #banner #infos #BannerSubtitle img, body main #banner #infos #BannerSubtitle svg {
  position: absolute;
}
body main #banner #infos #BannerSubtitle #Underline {
  width: 24vw;
  height: auto;
  transform: translate(365px, 35px);
}
body main #banner #infos #BannerSubtitle #ArrowDown {
  width: 5vw;
  height: auto;
  transform: translate(220px, 140px);
}
body main #banner #infos #BannerSubtitle a {
  color: #EFA229;
  font-size: 4vw;
  position: absolute;
  transform: translate(350px, 180px);
  z-index: 999;
}
body main #banner #infos #BannerSubtitle a:hover {
  color: #20450D;
  transform: translate(350px, 180px), scale(1.05);
}
body main #banner #arte {
  width: 50%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main #banner #arte h2 {
  color: #EFA229;
  font-family: "Caveat", serif;
  font-size: 4vw;
  position: absolute;
  transform: translate(-410px, 40px);
}
body main #banner #arte #ArrowUp {
  position: absolute;
  transform: translate(-170px, 70px);
}
body main #banner #arte #FullArte {
  position: absolute;
  width: 135%;
  height: auto;
  transform: translate(-235px, 190px);
}
body footer {
  width: 100%;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 0 5%;
  position: absolute;
  bottom: 0;
}
body footer #LinksRapido a {
  margin: 0 0.35vw;
}
body footer #LinksRapido a img, body footer #LinksRapido a svg {
  transition: all ease-in-out 0.2s;
}
body footer #LinksRapido a:hover img, body footer #LinksRapido a:hover svg {
  transform: scale(1.15);
}/*# sourceMappingURL=style.css.map */