@import 'colors_fonts';
@import 'base';

::-webkit-scrollbar {
    width: 0.5vw;
    background: $VerdeClaro;
}
::-webkit-scrollbar-thumb {
    background: $VerdeEscuro;
    border-radius: 10vw;
}

html {
    cursor: url("../assets/cursor.svg"), auto;
    a, button{
        &:hover{
            cursor: url("../assets/cursor.svg"), auto;
        }
    }
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 99.6vw;
    min-height: 10vh;
    height: auto;
    overflow-x: hidden;
    position: relative;
    background-color: $Branco;
    header{
        width: 100%;
        height: 100px;
        position: fixed;
        left: 0;
        z-index: 99;
        display: flex;
        align-items: center;
        justify-content: center;
        #logo{
            height: auto;
            width: 11%;
            display: flex;
            margin-right: auto;
            margin-left: 4vw;
            img, svg{
                width: 100%;
                height: 100%;
                object-fit: contain;
                :first-child{
                    fill: $VerdeEscuro;
                }
                :nth-child(2){
                    fill: $Amarelo;
                    stroke: $Amarelo;
                }
            }
        }
        #OpenMenu{
            width: 6vh;
            height: 6vh;
            margin-left: auto;
            margin-right: 4vw;
            position: relative;
            &::before, &::after{
                position: absolute;
                content: '';
                top: 30%;
                left: 12.5%;
                width: 75%;
                height: 15%;
                background-color: $VerdeEscuro;
                border-radius: 10vw;
            }
            &::after{
                top: 55%;
            }
        }
        #sideMenu{
            background-color: $VerdeEscuro;
            width: 100vw;
            height: 100%;
            position: absolute;
            right: -100vw;
            transition: right .5s ease-in-out;
            display: flex;
            align-items: center;
            justify-content: end;
            a{
                font-family: $Title-font;
                font-size: 1.2vw;
                color: $Branco;
                margin: 0 1vw;
                text-decoration: none;
                transition: all .25s ease-in-out;
                &:hover{
                    color: $Amarelo;
                    transform: scale(1.05);
                }
            }
            #CloseMenu{
                width: 5vh;
                height: 5vh;
                position: relative;
                margin-right: 3vw;
                margin-left: 1vw;
                transition: all .25s ease-in-out;
                &::before, &::after{
                    position: absolute;
                    content: '';
                    top: 40%;
                    left: 15%;
                    width: 75%;
                    height: 22.5%;
                    background-color: $Amarelo;
                    border-radius: 10vw;
                    transform: rotate(-45deg);
                }
                &::after{
                    transform: rotate(45deg);
                }
                &:hover{
                    transform: scale(1.05);
                }
            }
        }
    }
    main{
        width: 100vw;
        min-height: 100vh;
        height: auto;
        position: absolute;
        left: 0;
        section{
            margin-left: auto;
            margin-right: auto;
            width: 100%;
            min-height: 100vh;
            height: auto;
            font-family: $Main-font;
            color: $Branco;
        }
        #banner{
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            width: 92.5%;
            height: 100vh;
            #infos{
                width: 50%;
                height: 100%;
                display: flex;
                flex-direction: column;
                #BannerTitle{
                    position: relative;
                    display: flex;
                    align-items: center;
                    margin-top: 25vh;
                    h1{
                        width: 100%;
                        height: auto;
                        color: $VerdeEscuro;
                        font-family: $Title-font;
                        font-size: 9vw;
                        margin-left: 4vw;
                    }
                    img, svg{
                        position: absolute;
                        transform: translateY(20px);
                    }
                    #BigStar{
                        left: 10vw;
                        width: 4vw;
                        height: 4vw;
                    }
                    #Smile{
                        left: 27.25vw;
                        width: 3.25vw;
                        height: 3.25vw;
                    }
                    #SmallStar{
                        left: 37.5vw;
                        width: 4.5vw;
                        height: 4.5vw;
                    }
                }
                #BannerSubtitle{
                    position: relative;
                    display: flex;
                    align-items: center;
                    transform: translateY(-15px);
                    h2{
                        color: $VerdeEscuro;
                        font-family: $Title-font;
                        font-size: 2.1vw;
                        padding-left: 1.25vw;
                    }
                    img, svg{
                        position: absolute;
                    }
                    #Underline{
                        width: 24vw;
                        height: auto;
                        transform: translate(365px, 35px);
                    }
                    #ArrowDown{
                        width: 5vw;
                        height: auto;
                        transform: translate(220px, 140px);
                    }
                    a{
                        color: $Amarelo;
                        font-size: 4vw;
                        position: absolute;
                        transform: translate(350px, 180px);
                        z-index: 999;
                        &:hover{
                            color: $VerdeEscuro;
                            transform: translate(350px, 180px), scale(1.05);
                        }
                    }
                }
            }
            #arte{
                width: 50%;
                height: 100%;
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                h2{
                    color: $Amarelo;
                    font-family: $Main-font;
                    font-size: 4vw;
                    position: absolute;
                    transform: translate(-410px, 40px);
                }
                #ArrowUp{
                    position: absolute;
                    transform: translate(-170px, 70px);
                }
                #FullArte{
                    position: absolute;
                    width: 135%;
                    height: auto;
                    transform: translate(-235px, 190px);
                }
            }
        }

    }
    footer{
        width: 100%;
        min-height: 10vh;
        display: flex;
        align-items: center;
        justify-content: end;
        padding: 0 5%;
        position: absolute;
        bottom: 0;
        #LinksRapido{
            a{
                margin: 0 0.35vw;
                img,svg{
                    transition: all ease-in-out 0.2s;
                }
                &:hover{
                    img,svg{
                        transform: scale(1.15);
                    }

                }
            }
        }
    }
}

@media only screen and (max-width: 479px){}